<html>
<head>
    <link rel="stylesheet" href="~/css/home.css" />
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="css/styles.32d843a71366612d22b9.css">
</head>

<body>


    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <!-- Icon -->

        </div>
    </div>
    <app-root></app-root>
    <script src="js/runtime.359d5ee4682f20e936e9.js" defer></script>
    <script src="js/polyfills.15af760668362461b909.js" defer></script>
    <script src="js/main.2335c3d0cc719394a860.js" defer></script>

</body>
</html>
